/* gugi-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gugi-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas-neue-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue';
}

header h1 {
  color: var(--pico-secondary-inverse);
}

small {
  float: right;
  color: var(--pico-form-element-placeholder-color);
  background: var(--pico-form-element-background-color);

  border: 1px solid var(--pico-range-active-border-color);
  padding: 0.5rem;
  border-radius: var(--pico-border-radius);
}

form label.hidden {
  position: absolute;
  left: -9999px;
}

/* Buttons */
.btn-play {
  background: #98ca00;
  border-color: #98ca00;
}
.btn-deny {
  background: #8332fc;
  border-color: #8332fc;
}

/* Overview */

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr; /* Drei gleich große Spalten */
  /* height: 10vh; Vollbildhöhe */
}
.grid-item1 {
  grid-column: 1; /* Platziert das Element in der ersten Spalte */
  padding: 20px;
}
.grid-item2 {
  grid-column: 2; /* Platziert das Element in der zweiten Spalte */
  padding: 20px;
}
.grid-item3 {
  grid-column: 3; /* Platziert das Element in der dritten Spalte */
  padding: 20px;
}
.grid-center {
  place-items: center;
}

/* Ordered List */

ol {
  list-style: none;
  padding-left: 0;
}

/* Pflichtfelder */
.required,
.error {
  color: #ff0022;
}

/* Active DJ Menü */
.no-active-dj {
  color: #ff0022;
}

.menu {
  display: flex;
  justify-content: flex-end;
  right: 1;
  z-index: 1000; /* Damit es über anderen Elementen liegt */
}

/* summary */

details:not(.dropdown) summary {
  transition: all 0.5s ease-in-out;
  font-size: 1.25rem;
}
details[open] summary,
details:hover summary {
  transition: all 0.5s ease-in-out;
}

details p {
  font-size: 1rem;
}
details.dropdown {
  margin-bottom: 0;
}
details.dropdown summary + ul {
  left: inherit;
  right: 0;
}

/* Auswahl Header Figure*/
.chooseHeaderFigure {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 4/3;
}

.chooseHeaderImg {
  position: absolute;
  width: 100%;
  height: auto;
}
*/ .chooseHeaderFigcaption {
  position: absolute;
  bottom: 10px; /* Höhe anzupassen */
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
  color: white;
  padding: 5px;
}

/* Volle Breite */

.fullwidth button {
  width: 100% !important;
}

.right {
  text-align: right;
}

button.border {
  color: white;
  transition: 0.5s;
  animation: pulse 2s infinite;
  transition: 2s;
  background-color: hsl(257, 85%, 54%); /* Rot, wenn abgestimmt */
  border-color: hsl(257, 85%, 54%);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

/* VOTE Buttons */
.not-voted {
  background-color: hsl(257, 85%, 58%); /* Lila, wenn abgestimmt */
  border-color: hsl(257, 85%, 58%);
  color: #fff;
}

.not-voted:hover {
  background-color: hsl(257, 85%, 54%); /* Rot, wenn abgestimmt */
  border-color: hsl(257, 85%, 54%);
}

.voted {
  background-color: var(--pico-contrast); /* schwarz, wenn abgestimmt */
  border-color: var(--pico-contrast);
  color: var(--pico-contrast-inverse);
}
.voted:hover {
  background-color: var(--pico-contrast-background); /* schwarz, wenn abgestimmt */
  border-color: var(--pico-contrast-background);
  color: var(--pico-contrast-inverse);
}
