small {
  float: right;
  color: var(--pico-form-element-placeholder-color);
  background: var(--pico-form-element-background-color);

  border: 1px solid var(--pico-range-active-border-color);
  padding: 0.5rem;
  border-radius: var(--pico-border-radius);
}

form label.hidden {
  position: absolute;
  left: -9999px;
}

/* Buttons */
/* 
.btn-play {
  background: #98ca00;
}
.btn-deny {
  background: #ff0022;
}
 */
/* Overview */

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr; /* Drei gleich große Spalten */
  /* height: 10vh; Vollbildhöhe */
}
.grid-item1 {
  grid-column: 1; /* Platziert das Element in der ersten Spalte */
  padding: 20px;
}
.grid-item2 {
  grid-column: 2; /* Platziert das Element in der zweiten Spalte */
  padding: 20px;
}
.grid-item3 {
  grid-column: 3; /* Platziert das Element in der dritten Spalte */
  padding: 20px;
}
.grid-center {
  place-items: center;
}

/* Ordered List */

ol {
  list-style: none;
  padding-left: 0;
}

/* Active DJ Menü */
.no-active-dj {
  color: #ff0022;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

/* summary */

details:not(.dropdown) summary {
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}
details[open] summary,
details:hover summary {
  transition: all 0.5s ease-in-out;
}

details p {
  font-size: 1rem;
}

/* Auswahl Header Figure*/
.chooseHeaderFigure {
  position: relative;
  width: 100%; /* Optional: Setze die gewünschte Breite */
  height: 300px; /* Höhe des sichtbaren Bereichs */
  overflow: hidden; /* Versteckt den nicht sichtbaren Teil des Bildes */
}

.chooseHeaderImg {
  position: absolute;
  top: -200px; /* Verschiebt das Bild um 200px nach oben */
  width: 100%;
  height: auto;
}

.chooseHeaderFigcaption {
  position: absolute;
  bottom: 10px; /* Höhe anzupassen */
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
  color: white;
  padding: 5px;
}

/* Volle Breite */

.fullwidth button {
  width: 100% !important;
}

/* VOTE Buttons */
.voted {
  background-color: rgb(253, 159, 159); /* Rot, wenn abgestimmt */
}

.not-voted {
  background-color: rgb(119, 233, 119); /* Grün, wenn nicht abgestimmt */
}
